body {
	background-color: hsl(0,0%,95%);
	line-height: 150%;
}

#description {
	margin: auto;
	/*width: 60%;*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-shadow: hsla(0,0%,40%,0.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
	text-align: center;
}

#services {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60%;
	line-height: 150%;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	padding: 10px 50px 15px 50px;
	background-color: hsl(0,0%,90%);
	text-align: left;
	font-size: 13.5px;
}

#links {
	margin-left: 50px;
	border-radius: 10px;
	border-left: 1px solid #999;
	padding-left: 10px;
	margin-bottom: 10px;
}

img {
	border-radius: 5px;
}

#howto {
	margin-left: 15%;
	text-align: left;
}

h3 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	text-shadow: hsla(0,0%,40%,0.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
	text-align: center;
	margin-bottom: 7px;
	margin-top: 5px;
}

#exp {
	text-align: center;
	font-size: 13px;
	margin-bottom: 5px;
}

#footer,#ins {
	display: block;
	margin-top: 0px;
	font-size: 11px;
}

#footer {
	text-align: center;
}

hr {
	color: white;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
}

h1 {
	text-align: center;
	margin-bottom: 5px;
	text-shadow: hsla(0,0%,40%,0.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

input {
	height: 17px;
	border: 1px solid white;
	border-radius: 5px;
	margin-left: 2px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-shadow: hsla(0,0%,40%,0.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

a:link {
	color: #800000;
}

a:visited {
	color: #696969;
}

#response {
	border-radius: 10px;
	background-color: hsl(0,0%,90%);
	padding: 35px;
	border: 1px solid #999;
	line-height: 100%;
	width: 70%;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	margin: auto;
	text-align: left;
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

#inner {
	border-radius: 10px;
	background-color: hsl(0,0%,90%);
	padding: 5px;
	border-left: 1px solid #999;
	width: 90%;
	/*-webkit-box-shadow: -5px 0px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -5px 0px 1px rgba(0, 0, 0, 0.3);
	box-shadow: -5px 0px 1px rgba(0, 0, 0, 0.3);*/
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

#widget {
	display: table;
	margin: 0 auto;
}
